<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.birinesor.mvpornek">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:configChanges="uiMode"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BirineSor"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.Ayarlar.AdminCevaplarActivity"></activity>
        <activity android:name=".Activity.Ayarlar.AdminActivity" />
        <activity android:name=".Activity.Ayarlar.KazancActivity" />
        <activity
            android:name=".Fragment.Search.AramaAyarlariActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BirineSor" />
        <activity
            android:name=".Activity.Ayrıntılar.YorumAyrintiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Ayarlar.BildirimlerAnlikBildirimActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BirineSor" />
        <activity
            android:name=".Activity.Ayarlar.BildirimlerDuzenleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Notification.NotificationLikeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Notification.NotificationCommentActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:parentActivityName=".Activity.HomeActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="" />
        <activity
            android:name=".Activity.Ayarlar.SifreDuzenleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ImagePickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Ayarlar.ProfilDuzenleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BirineSor"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Baslangic.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BirineSor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.QuestionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HomeActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/The" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.birinesor.mvpornek.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>